body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  display: flex;
}
.elem{
  min-height: 50vh;
  flex: 1 1 50%;  
  box-sizing: border-box; 
}
.input{
  margin: auto; 
  display: flex; 
  margin-top: 21vh;
  width: 28vw;
  height: 30px;
}
.centerBlogForText{ 
  height: 40vh;
  margin: 25px 25px 5px;
  overflow-y: auto;
  max-width: 40vw;
}
.elem p{
  text-align: center; 
  margin-bottom: 3px;
  margin-top: 3px;
}
.sort{
  position: absolute;
  top: 5px;
  right: 25px;
  height: 25px;
}